<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="static/password_manager.css">
</head>
<body>
<h1>{% block header %}A Header{% endblock %}</h1>
{% block content %}
<p>Content goes here!</p>
{% endblock %}
<hr>
{% block footer %}
CC4.0 Unrestricted permission granted for use and distribution<br>
Contact Marc at PCC CIS for more info. <a href="/">Home</a>
{% endblock %}
</body>
</html>